.logo {
    max-width: 100%;

    /* Mengatur tinggi gambar menjadi 75% dari tinggi kontainer */
    height: auto;
    margin-left: 20px;
}

.navbar-nav a:hover {
    text-decoration: underline;
    color: red;
}

.navbar-nav a {
    font-size: 15pt;
}

.navbar-nav li {
    margin-left: 10%;
}

ul:last-child {
    margin-right: 15%;
}

#test button {
    background-color: red;
}

.line-with-text {
    display: flex;
    /* Membuat elemen flex container */
    align-items: center;
    /* Menggeser elemen anak ke tengah vertikal */
    margin: 40px auto;
    /* Memberikan jarak atas dan bawah */
    width: 80%;
}

.line-with-text hr {
    flex-grow: 1;
    /* Menggunakan ruang kosong yang tersisa */
    height: 10px;
    /* Mengatur tinggi garis */
    background-color: rgba(255, 0, 0, 1);
    /* Warna garis */
    margin: 0 10px;
    /* Memberikan jarak kiri dan kanan garis */

}

.line-with-text .text {
    /* Anda dapat menyesuaikan gaya teks sesuai kebutuhan Anda */
    padding: 0 10px;
    color: red;
    font-weight: bold;
    /* Memberikan padding agar teks terlihat lebih baik */
}

/* searching */
/* CSS untuk mengatur tampilan kolom pencarian */
.search-container {
    text-align: center;
}

.search-box {
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-box::placeholder {
    font-style: italic;
}

.search-button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table {
    width: 40%;
    /* Mengatur lebar tabel menjadi 50% dari lebar container */
    margin: 0 auto;
    /* Memusatkan tabel secara horizontal */
    border-collapse: collapse;
}

.table-size table{
    /* set border table  */
    border: 2px solid black; 

    text-align: left;
}
.table-size{
    position: relative;
    border: 1px solid black;
}
.table-size img {
    /* gambar background tabel  */
    position: absolute;
    width: 205px;
    height: 205px;
    opacity: .1;
    left: 50%;
    /* top: 18%; */
}

/* Mengatur gaya sel header */
.table-bordered th {
    width: 30%;
    /* color: #a8a6a4; */
    /* background-color: #a8a6a4; */
    background-color:#e5e5e5;

    /* text-align: left; */
    padding: 8px;
}

/* Mengatur gaya sel data */
td {
    width: 70%;
    padding: 8px;
}